*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    width: 90%;
    margin: 2rem auto;
    background-color: #F7F7F7;
    box-shadow: 0 0 10px gray;
    padding: 15px 0;
}

.main-heading {
    color: mediumblue;
    text-transform: capitalize;
    margin: 20px 50px;
}

.balance {
    margin: 0 50px;
    text-transform: uppercase;
}

.income-expense {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    margin: 20px 50px;
    background-color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

.green {
    color: green;
}

.red {
    color: red;
}

.history {
    text-transform: capitalize;
    margin: 10px 50px;
}

hr {
    margin: 10px 0;
}

.transaction-list {
    list-style: none;
}

.transaction-list > li {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    background-color: white;
    box-shadow: 0 0 10px gray;
    margin-top: 5px;
}

.add-transaction {
    margin: 10px 50px;
    text-transform: capitalize;
}

input {
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
}

#addBtn {
    background-color: #9C88FF;
    border: none;
    padding: 10px 0;
    font-size: large;
    font-weight: bold;
}

@media screen and (max-width: 425px) {
    .container {
        width: 100%;
    }
    .main-heading, .balance, .income-expense, .history, .add-transaction {
        margin: 30px;
    }
}